<!-- views/partials/head.ejs -->
<meta charset="UTF-8" /> <title>Pick Bot Dashboard.</title>

<!-- CSS (load bootstrap from a CDN) -->
<script
  defer
  src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
  integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
  crossorigin="anonymous"
></script>
<style>
  body {
    padding-top: 50px;
  }
</style>
