<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Pick Bot Dashboard
        <input type="button" value="Back" onclick="history.back(-1)" />
      </a>

      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">Updates</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>
