<html>
  <%- include("../EJScomp/bootstrap/nav", {user: user}); %>
  <title>Pick Bot | Documentation</title>
  <div class="container">
    <section class="main">
      <div class="nav">
        <ul class="side-bar">
          <li><a>Home</a></li>
          <li><a>First Install</a></li>
          <li><a>Lorem</a></li>
          <li><a>Lipsum</a></li>
        </ul>
      </div>
      <div class="jumbotron"><h1>Documentation</h1></div>
    </section>
  </div>
</html>
<style>
  .side-bar {
    list-style: none;
    display: box;
  }
  .side-bar > li {
    padding: 10px 10px 0px 0px;
  }
</style>
