<%- include("./head") %>

<div
  class="modal fade"
  id="exampleModalLong"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<style>
  #disabledLI:hover {
    cursor: not-allowed;
  }

  #avatar {
    border-radius: 64px;
  }
  #alert {
    padding: 20px;
    background-color: #2196f3;
    color: white;
    display: none;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class=" navbar-brand">Discord Pick Bot</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <% if(isAuth) { %>
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      <% } else { %>
      <li class="nav-item active" id="disabledLI">
        <a class="nav-link disabled" href="#" style="color: #D3D3D3;"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      <% } %>
      <li class="nav-item active">
        <a
          class="nav-link"
          href="https://discordapp.com/oauth2/authorize?client_id=525901565018767364&permissions=133160&scope=bot"
          >Invite Bot</a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          href="https://github.com/AndyIsCool5463/discord-pick-bot"
          >Updates</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/docs">Documentation</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/stats">Statistics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link toggle-theme" id="changebg">
          <i class="far fa-moon" style="color: white; font-size: 24px;"></i>
        </a>
      </li>
      <% if(isAuth) {%> <% if(user.id == "201825529333153792") {%>
      <li class="nav-item active">
        <a class="nav-link" href="/adb">Admin Dashboard</a>
      </li>
      <% } else {%> <%} %> <% }%>
    </ul>
  </div>

  <% if(isAuth) { %>
  <a href="#" class="navbar-left" style="color: white;">
    <img
      src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar%>.png?size=32"
      id="avatar"
    />
    <%- user.username%></a
  >
  <a class="nav-link" href="/user/settings">Settings </a> <% } else { %> <% } %>
  <% if(isAuth) { %>
  <button type="button" onclick="redir(1)" class="btn btn-danger">
    Logout <i class="fas fa-sign-out-alt"></i>
  </button>
  <% } else { %>
  <button type="button" onclick="redir(2)" class="btn btn-primary">
    Login <i class="fas fa-sign-out-alt"></i>
  </button>
  <% } %>
</nav>
<div id="alert" role="alert">
  <span class="closebtn">&times;</span> You have been logged out!
</div>
<script>
  function redir(bool) {
    if (bool == 1) {
      window.location.href = "/logout";
      document.getElementById("alert").style.display = "block";
    } else if (bool === 2) {
      window.location.href = "/login";
    }
  }
  var close = document.getElementsByClassName("closebtn");
  var i;

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.opacity = "0";
      setTimeout(function() {
        div.style.display = "none";
      }, 600);
    };
  }
  let toggle = document.querySelector(".toggle-theme");

  // Turn the theme of if the 'funky' key exists in localStorage
  if (localStorage.getItem("funky")) {
    document.body.classList.add("funky");
    toggle.innerHTML = '<i class="far fa-moon"></i>';
  }

  toggle.addEventListener("click", function(e) {
    e.preventDefault();

    if (document.body.classList.contains("funky")) {
      document.body.classList.remove("funky");
      $(".jumbotron").css("background-color", "#e9ecef");
      toggle.innerHTML = '<i class="far fa-moon"></i>';
      localStorage.removeItem("funky");
    } else {
      document.body.classList.add("funky");
      $(".jumbotron").css("background-color", "#2b3239");
      toggle.innerHTML = '<i class="far fa-moon"></i>';
      localStorage.setItem("funky", true);
    }
  });
</script>
<style>
  .funky {
    --bg: #303030;
    --text-color: white;
    --link-color: #b793e6;
    --link-hover: #3532a7;
  }
  .funky .guildSelectGuilds > li {
    border: 1px solid #303030;
  }
  .funky .guildSelectGuilds > li:hover {
    border: 1px solid white;
  }
  .funky .featuresT {
    border: 1px solid white;
  }
  body {
    background: var(--bg);
    color: var(--text-color);
  }

  a,
  a:link {
    color: var(--link-color);
  }
  a:hover {
    color: var(--link-hover);
  }
  :root {
    --bg: white;
    --text-color: #555;
    --link-color: #639a67;
    --link-hover: #205d67;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
