@import url("https://fonts.googleapis.com/css?family=Montserrat|Thasadith");
ul {
  list-style: none;
  /* background: #f8f8f8; */
}
li {
  text-decoration: none;
  background: #333638;
  /* color: white; */
  padding: 10px;
  float: right;
}
a {
  color: #337ab7;
  font-family: Montserrat;
  text-decoration: none;
}
#usermenuIcon {
  color: #337ab7;
  font-family: Montserrat;
  text-decoration: none;
}
#logout {
  color: rgb(248, 43, 43);
}
#avatar {
  border-radius: 60%;
}
#leftTitle {
  font-family: Staatliches;
  font-size: 32px;
  border: 1px solid #333638;
  width: 100%;
}
.user-menu {
  background: none;
  border: none;
  size: 100000px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* position: absolute; */
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
