@import url("https://fonts.googleapis.com/css?family=Montserrat|Staatliches|Thasadith");

#welcomeMsg {
  font-family: Montserrat;
  padding: 40px;
  text-align: center;
  color: white;
  background: #23272a;
  padding-bottom: 10px, 100%, 400px, 100%;
}
