@import url("https://fonts.googleapis.com/css?family=Montserrat|Thasadith");
html {
  background: #23272a;
}
.title {
  font-family: Montserrat, sans-serif;
  color: white;
  padding: 150px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 40px;
}
.desc {
  color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
}
#guildNameSmall {
  color: gray;
}
