<html>
  <body>
    <link rel="stylesheet" type="text/css" href="/css/dashboardSettings.css" />

    <div>
      <header><%- include("./EJScomp/navDash", {user: user}); %></header>
    </div>
    <div class="head">
      <h1 class="title">Bot Settings</h1>
      <h3 class="desc"></h3>
    </div>
  </body>
</html>
